body {
    font-family:"IBM Plex Mono";
    background-color: #2b2571;
    color: #ccc8fd;
    margin:0;
    overflow-x:hidden;
}

#title {
    text-shadow:2px 2px 3px rgba(0, 0, 0, .5);
}

h1, h3, h4, h5, h6 {
    font-family:"Martian Mono";
    font-size: 50pt;
}

h2 {
    font-size: 30pt;
}

header {
    text-align:center;
}

#logo img {
    padding:50px;
}

#hero, footer {
    color: #8c82ff;
    border: 2px solid #8c82ff;
    background-color: #1e1b52;
    text-align:center;
    padding:10px;
}

#hero img {
    width:100%;
    max-width:450px;
}
/* formatting for bio and hobbies text */
.bio-content, .hobbies-content {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid #8c82ff;
    margin-bottom:2rem;
    background-color: #1e1b52;
}
/* styling for bio */
.bio h2{
    text-align:center;
    border: 2px solid #8c82ff;
    background-color: #1e1b52;

}
/* formatting for both bio and hobbies section */
.bio-content p, .hobbies-content p, .hobbies-content ul {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 1rem;
}
/* formating for hobbies text */
.hobbies-content ul {
    list-style-type: square;
    padding-left: 20px;
}

/* margins for hobbies text */
.hobbies-content li {
    margin-bottom: 0.5rem;
}
/* styling for hobbies section title */
.hobbies h2{
    text-align:center;
    border: 2px solid #8c82ff;
    background-color: #1e1b52;

}
/* general styling for gallery section */
#gallery {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    margin-bottom:2rem;
}
/* styling for gallery section title */
#gallery h2 {
    text-align:center;
}
/* styling for gallery images and media*/
#gallery img{
    max-width:100%;
    border: 2px solid #8c82ff;
    box-shadow:10px 10px 8px rgba(0, 0, 0, .5);
}

/*Hover effect for image gallery. The box shadow will turn white instead of black and the border will turn cyan. */
#gallery img:hover {
    box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(130, 236, 255);
}

/* gallery text captions */
#gallery figure{
    font-size:20px;
    text-align:center;
}

/* styling for literature section */
#lit {
    border: 2px solid #8c82ff;
    margin-bottom:2rem;
    background-color: #1e1b52;
}
/* literature div styling */
#lit div {
    padding:1rem;
    max-width:100%;
    margin: 0 auto;
    columns:20rem;
}
/* literature paragraph styling */
#lit div p {
    padding:0.3rem 0;
    clear:both;
    font-size:1rem;
}
/* literature section title styling */
#lit h2 {
    text-align:center;
}
/* The first letter in literature div will be uniquely styled */
#lit div p:first-child:first-letter {
    color: #82b6ff;
    border:4px outset #ccc8fd;
    background-image:radial-gradient(#1d1b3f, #aaa9c7);
    font-size:3rem;
    float:left;
    margin-right:.25em;
    padding:.25em;
    line-height:.30;
    text-shadow:2px 2px 3px rgba(0, 0, 0, .5);
}

/* iframe styling */
#videoWrapper iframe {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
/* videoWrapper styling */
#videoWrapper {
    position:relative;
    padding-bottom:75%;
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    color: #ccc8fd;
}
/* Media styling */
#video {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}

/* video section title styling */
#video h2 {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    color: #ccc8fd;
    padding:10px;
    text-align:center;
}

/* This is about tablet size */
@media screen and (min-width:60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin-left: 1rem;
    }
}

/* Larger Screen */
@media screen and (min-width:100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display:none;
    }

    #gallery h2 {
        grid-column:1/-1;
    }

    figure {
        display:block;
    }
}

/* Contact Form styling */
#contact {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    color: #ccc8fd;
}

/* Contact form title formatting*/
#contact h2 {
    text-align: center;
    margin: 1rem 0;
}

/* Contact form text-box formatting */
#contact fieldset {
    margin-bottom: 20px;
    border: none;
    padding: 10px;
}

#contact legend {
    font-size: 1.5em;
    color: #8c82ff;
}

/* This is visual styling for each part of the Contact Form section*/
#name, #email, #phone, #phone-type, #message {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #8c82ff;
    background-color: #2b2571;
    color: #ccc8fd;
}

/* Styling for the contact form buttons (the ones you can click on) */
#contact button {
    padding: 10px 20px;
    background-color: #8c82ff;
    color: #1e1b52;
    border: none;

}

/* Hover effect for contact form buttons */
#contact button:hover {
    background-color: #a09bff;
}


@media screen and (max-width: 767px) {
    #contact legend, #contact label {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #contact {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 1025px) {
    #name, #email, #phone, #phone-type {
        max-width: 400px;
    }
}