body {
    font-family:"IBM Plex Mono";
    background-color: #2b2571;
    color: #ccc8fd;

    
}

#title {
    text-shadow:2px 2px 3px rgba(0, 0, 0, .5);
}

h1, h3, h4, h5, h6 {
    font-family:"Martian Mono";
    font-size: 50pt;
}

h2 {
    font-size: 30pt;
}

header {
    text-align:center;
}

#hero, footer {
    color: #8c82ff;
    border: 2px solid #8c82ff;
    background-color: #1e1b52;
    text-align:center;
    padding:10px;
}

#hero img {
    width:450px;
}

#bio {
    text-align:center;
    font-size:30px;
}

#hobbies ul li:nth-child(even) {
    color: rgb(0, 255, 0);
    background-color: black;
}

#hobbies ul li:nth-child(odd) {
    color: red;
    background-color: white;
}

section#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
#hobbies {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    font-size:20px;
    
}

#hobbies h2 {
    text-align:center;
}

#gallery {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    margin-bottom:2rem;
}

#gallery h2 {
    text-align:center;
}

#gallery img{
    max-width:100%;
}

#gallery figure{
    font-size:20px;
    text-align:center;
}

#lit {
    border: 2px solid #8c82ff;
    margin-bottom:2rem;
    background-color: #1e1b52;
}

#lit div {
    padding:2rem;
    max-width:40rem;
    margin: 0 auto;
}

#lit div p {
    padding:0.3rem 0;
    clear:both;
    font-size:1rem;
}

#lit h2 {
    text-align:center;
}

#lit div p:first-child:first-letter {
    color: #82b6ff;
    border:4px outset #ccc8fd;
    background-image:radial-gradient(#1d1b3f, #aaa9c7);
    font-size:3rem;
    float:left;
    margin-right:.25em;
    padding:.25em;
    line-height:.30;
    text-shadow:2px 2px 3px rgba(0, 0, 0, .5);
}

#video {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video h2 {
    text-align: center;
    margin: 1rem 0;
}

#myVideo iframe {
    max-width: 100%;
    border: 0;
    width: 100%;
                
}

#video figure {
    font-size: 20px;
    text-align: center;
}

/* This is about tablet size */
@media screen and (min-width:60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin-left: 1rem;
    }
}

/* Larger Screen */
@media screen and (min-width:100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display:none;
    }

    #gallery h2 {
        grid-column:1/-1;
    }

    figure {
        display:block;
    }
}

#lit div {
    max-width:100%;
    columns:20rem;

}