body {
    font-family:"IBM Plex Mono";
    background-color: #2b2571;
    color: #ccc8fd;

    
}

h1, h3, h4, h5, h6 {
    font-family:"Martian Mono";
    font-size: 50pt;
}

h2 {
    font-size: 30pt;
}

header {
    text-align:center;
}

#hero, footer {
    color: #8c82ff;
    border: 2px solid #8c82ff;
    background-color: #1e1b52;
    text-align:center;
    padding:10px;
}

#hero img {
    width:450px;
}

#bio {
    text-align:center;
    font-size:30px;
}

#hobbies ul li:nth-child(even) {
    color: rgb(0, 255, 0);
    background-color: black;
}

#hobbies ul li:nth-child(odd) {
    color: red;
    background-color: white;
}

#hobbies {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
    font-size:20px;
}

#gallery {
    background-color: #1e1b52;
    border: 2px solid #8c82ff;
}

#gallery img{
    max-width:100%;
}

#gallery figure{
    font-size:20px;
    text-align:center;
}